$blue: #0067af;

html {
  background-color: $blue;
}

body {
  background-color: white;
}

html, body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: $blue;
}

*, &:before, &:after {
  box-sizing: border-box;
}
